:root {
  --primary: #ff6565;
  --secondary: #071629;
}
/* reset */
body,
p,
a,
ul,
li,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style: none;
}
/* fonts */
@font-face {
  font-family: "source sans pro regular";
  src: url(assets/fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: "source sans pro bold";
  src: url(assets/fonts/SourceSansPro-Bold.otf);
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 16px;
  font-family: "source sans pro bold";
}
p {
  font-size: 16px;
}
li {
  font-size: 12px;
}
/* base styles */
body {
  font-family: "source sans pro regular";
  overflow-x: hidden;
}
.call-to-action-button {
  background: var(--primary);
  font-size: 14px;
  width: 162px;
  height: 44px;
  border: none;
  border-radius: 22px;
  font-family: "source sans pro bold";
  cursor: pointer;
  color: #fff;
}
.contact-us-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 110px auto 130px auto;
}
.contact-us {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us h1 {
  margin: 0 auto 56px auto;
}
.contact-us input {
  width: 100%;
  height: 29px;
  margin-bottom: 45px;
  border: none;
  border-bottom: 1px solid #979797;
  font-size: 14px;
}
.contact-us input::placeholder {
  color: var(--secondary);
}
.contact-us textarea {
  width: 100%;
  height: 29px;
  margin-bottom: 56px;
  border: none;
  border-bottom: 1px solid #979797;
  font-size: 14px;
  font-family: "source sans pro regular";
}
.contact-us textarea::placeholder {
  color: var(--secondary);
}
.contact-us button {
}
/* Default mobile size */
header {
  background-image: radial-gradient(
      ellipse at top center,
      rgba(41, 48, 61, 0.4) 0%,
      rgba(7, 22, 41, 0.8) 100%
    ),
    url(assets/images/headphones_hero_1.jpg);
  background-position: center, 35% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 29px;
  align-items: center;
}
.menu-label {
  grid-column: 1/2;
  padding-left: 21px;
  grid-row: 1;
}
#menu-toggle {
  display: none;
}
.nav a {
  grid-column: 2/3;
  grid-row: 1;
}
.header-logo {
  width: 161px;
}
.nav-nav {
  grid-column: 2/3;
  grid-row: 2;
  text-align: center;
  display: none;
}
nav li {
  padding-top: 20px;
}
.nav-links {
  color: #fff;
}
#menu-toggle:checked ~ .nav-nav {
  display: block;
}
#menu-toggle:checked + .menu-label .menu-icon {
  content: url("assets/images/close.png");
  width: 20px;
}
.intro {
  padding-top: 266px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.intro h1 {
  margin: 0px 5.5%;
}
.intro h2 {
  margin: 0px 12%;
}
.intro button {
  margin-top: 20px;
}
.intro p {
  margin: 65px 5.5% 106px 5.5%;
}
.what-we-do {
  display: grid;
  text-align: center;
  color: var(--secondary);
}
.work-description {
  margin: 110px 6.7%;
}
.work-description h1 {
  margin-bottom: 40px;
}
.products {
  display: grid;
  margin: 0px 22.4% 110px 22.4%;
  row-gap: 96px;
}
.our-results {
  background-image: radial-gradient(
      rgba(16, 25, 41, 0.47) 0%,
      rgba(7, 22, 41, 0.5) 50%
    ),
    url(assets/images/headphones_hero_2.jpg);

  background-position: center, 35% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.results-description h1 {
  margin: 125px 14.5% 46px 14.5%;
}
.results-description p {
  margin: 0 9% 77px 9%;
  line-height: 26px;
}
.results {
  margin: 0 auto 69px auto;
  display: grid;
  row-gap: 60px;
}
.results div {
  background-image: url(assets/images/pentagone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;

  width: 190px;
  height: 190px;
}
.results h1 {
  font-size: 46px;
  margin-top: 70px;
  margin-bottom: 0;
}
.results p {
  font-size: 14px;
}
footer {
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 249px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer-logo {
  width: 162px;
  margin: 48px auto 45px auto;
}
.social {
  margin: 0 auto 45px auto;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social img {
  width: 30px;
}
.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin-bottom: 34px;
}
/* Tablet size */
@media screen and (min-width: 376px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 29px;
    margin: 0 8.5%;
  }
  .menu-label {
    display: none;
  }
  .nav-nav {
    display: block;
    min-width: 50%;
  }
  .nav-nav ul {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5%;
  }
  nav li {
    padding-top: 0px;
  }
  .nav-links:hover {
    color: var(--primary);
  }

  .intro {
    padding-top: 311px;
  }
  .intro button {
    margin-top: 40px;
  }
  .intro p {
    margin: 65px 65px 115px 66px;
  }
  .work-description {
    margin: 110px 8.5%;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 19% 110px 19%;
    row-gap: 97px;
  }
  .products img {
    width: 95px;
    height: 65px;
  }
  .results-description h1 {
    margin: 141px 21% 40px 21%;
  }
  .results {
    margin: 0 auto 69px auto;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 109px 7% 60px 7%;
  }
  .footer-logo {
    margin: 0 auto;
  }
  .social {
    margin: 0 auto;
  }
}
/* Desktop size */
@media screen and (min-width: 769px) {
  .nav {
    max-width: 1000px;
    padding-top: 29px;
    margin: 0 auto;
  }
  .intro {
    max-width: 637px;
    margin: 0 auto;
  }
  .work-description {
    max-width: 637px;
    margin: 110px auto;
  }
  .products {
    max-width: 1002px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto 110px auto;
  }
  .results-description h1 {
    margin: 141px auto 40px auto;
  }
  .results-description p {
    max-width: 637px;
    margin: 0 auto 69px auto;
  }
  .results {
    min-width: 760px;
    max-width: 1002px;
    width: 100%;
    margin: 0 auto 79px auto;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
  .footer {
    max-width: 1000px;
  }
  .footer-logo {
    margin: 0;
  }
  .social {
    margin: 0;
  }
}
