body {
    background-color: antiquewhite;
    margin: 0;
}
header {
    background: rgb(120, 162, 135);
    border: 1px solid;
    height: 90px;
}
.logo {
    font-size: 80px;
}
main {
    background-color: rgb(48, 45, 45);
    color: antiquewhite;
}

main > article > a > img {
    background-color: #fff;
    margin-left: 40%;
}

aside {
    background-color: rgb(77, 71, 71);
}
