body {
    background-color: antiquewhite;
}
header {
    background: rgb(120, 162, 135);
    padding: 3%;
    border: 1px solid;
}
main {
    background-color: rgb(48, 45, 45);
    color: antiquewhite;
    padding: 2%;
}

main > article > a > img {
    background-color: #fff;
    margin-left: 40%;
}
